{% extends 'master.html' %}
{% block content %}
    <section id="contentSection">
        <div class="row">
            <div class="col-md-12">
                <h1>About page:</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias incidunt labore laborum perspiciatis
                    sit. Atque corporis culpa ea ex incidunt libero nam placeat
                    porro sapiente voluptas? Animi deserunt facere quasi!
                </p>
            </div>
        </div>
    </section>

{% endblock %}